<div class="posts-near">
    {% assign posts = include.posts | where: "lang", page.lang | sort: 'date' | reverse %}
    {% for post in posts %}
        {% if post.url == page.url %}
            {% assign previous = forloop.index0 | minus: 1 %}
            {% if previous >= 0 %}
                <a id='previous' href="{{ posts[previous].url }}">{{ posts[previous].title }}</a>
            {% endif %}

            {% assign next = forloop.index0 | plus: 1 %}
            {% if next < forloop.length %}
                <a id='next' href="{{ posts[next].url }}">{{ posts[next].title }}</a>
            {% endif %}

        {% endif %}
    {% endfor %}
</div>
