<div class="projects-near">
    {% assign projects = include.projects | sort: 'date' | reverse %}

    {% for project in projects %}
        {% if project.url == site.baseurl %}

            {% assign previous = forloop.index0 | minus: 1 %}
            {% if previous >= 0 %}
                {% for local in projects[previous].translats %}
                    {% if local.lang == page.lang %}
                        {% assign title = local.title %}
                    {% endif %}
                {% endfor %}
                <a id='previous' href="{{ projects[previous].url }}{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}">{{ title }}</a>
            {% endif %}

            {% assign next = forloop.index0 | plus: 1 %}
            {% if next < forloop.length %}
                {% for local in projects[next].translats %}
                    {% if local.lang == page.lang %}
                        {% assign title = local.title %}
                    {% endif %}
                {% endfor %}
                <a id='next' href="{{ projects[next].url }}{% if page.lang != 'en' %}/{{ page.lang }}{% endif %}">{{ title }}</a>
            {% endif %}

        {% endif %}
    {% endfor %}
</div>
