{% if page.tags[0] %}
    <small> <t>tags:</t>
        {% for tag in page.tags %}
            {% assign sitetags = site.mytags | where: "lang", page.lang | where: "slug", tag %}
            <em>
            {% if sitetags[0] %}
                <a href="{{ sitetags[0].url }}">{{ tag }}</a>
            {% else %}
                {{ tag }}
            {% endif %}
            </em>
            {% if forloop.length > forloop.index %}<em> - </em>{% endif %}
        {% endfor %}
    </small>
{% endif %}
